.h3 {
  text-align: center;
  color: rgb(154, 144, 162);
  width: 230px;
}
.form {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 25px;
}
.ul {
  margin: 10px auto;
  height: 40vh;
  list-style: none;
}
.outside {
  background-color: rgba(218, 204, 221, 0.817);
  width: 230px;
}
