.addFavBtn {
  padding: 0.5em;
  margin: 10px 0;
  color: #fff !important;
  background: #bbb260;
  border-bottom: 5px solid #948842;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none !important;
}

.addFavBtn:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 5px 0 0;
  background-image: url("//public/shoplogo.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.addFavBtn:hover {
  background: #d8d1a3;
}

.deleteFavBtn {
  padding: 0.5em;
  margin: 10px 0;
  color: #fff !important;
  background: #b5babd;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none !important;
}

.deleteFavBtn:after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -3px 5px 0 0;
  background-size: contain;
  vertical-align: middle;
}

.deleteFavBtn:hover {
  background: #e8edf0;
}
