html,
body {
  padding: 0;
  margin: 0;
  font-family: "Yu Gothic", Roboto Condensed, sans-serif, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
label,
.subtitle {
  display: inline-block;
  text-align: left;
  width: 210px;
  padding: 15px;
}
.subtitle-preview {
  display: inline-block;
  text-align: left;
  width: 210px;
  padding: 15px;
  vertical-align: top;
  font-style: italic;
}

input {
  margin-right: 15px;
  width: 190px;
}

.formError {
  color: #df6f5f;
  margin-right: 0.3em;
  font-size: 0.8em;
  padding: 0.05em 0.25em 0.1em 0.25em;
  border-radius: 0.3em;
  white-space: nowrap;
}

.label-fit {
  color: #fff;
  margin-right: 0.3em;
  font-size: 0.8em;
  padding: 0.05em 0.25em 0.1em 0.25em;
  border-radius: 0.3em;
  white-space: nowrap;
  text-align: center;
  font-weight: normal;
}

.label-danger {
  background-color: #df6f5f;
}

.label-warning {
  background-color: #f5b555;
}

.btn {
  width: auto;
}

hr {
  margin-top: 18px;
  margin-bottom: 18px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.notice {
  padding: 0px;
  padding-left: 15px;
  font-style: italic;
}

textarea {
  margin-left: 10px;
}

.photo-sumbnail {
  padding-left: px;
}

.form-group-used-item {
  display: flex;
}

.used-item-formB {
  padding-left: 100px;
}

/* [id].tsx */
.content-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.main-content {
  display: flex;
  width: 100%;
}

.right-side-wrapper {
  margin-left: 80px;
  width: 25%;
  height: 420px;
  text-align: center;
  background-color: #f2f8fa;
}

.right-side-wrapper dl {
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
}

.image-wraper {
  width: 70%;
  height: 500px;
}

.main-image {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.sub-images {
  display: flex;
  margin-bottom: 100px;
}

.explanation-wrapper {
  width: 600px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.outside {
  margin-top: 30px;
  margin-left: 120px;
}

.idbutton {
  margin-left: 5px;
  margin-top: 10px;
  font-family: "Yu Gothic";
  font-weight: 600;
  background-color: rgb(113, 164, 183);
  border-bottom: 5px solid rgb(84, 124, 137);
  color: #ffffff;
}
