.header {
  width: 100%;
  height: 340px;
  padding: 30px 4% 5px;
  background-image: url("/header.jpg");
  background-size: 1500px 340px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-end;
}

.header__inner {
  padding: 0.2px; /*左右の余白確保*/
  display: flex; /*ロゴとハンバーガーメニューを横に並べる*/
  align-items: center;
  height: inherit; /*親要素の高さを継承*/
  position: relative;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
    Meiryo, "MSPゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: auto;
  align-items: flex-end;
}

.headerin {
  display: flex;
}

.ul {
  list-style: none;
  display: flex;
  text-align: center;
  margin-bottom: 0;
}

.lis {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  padding-bottom: 0;
  width: 160px;
}

.link {
  display: block;
  padding: 10px 0px;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
}

.button {
  color: #000;
  background-color: rgb(94, 177, 207);
  border-bottom: 5px solid rgb(61, 143, 173);
  margin-left: 5px;
  margin-top: 10px;
  font-family: "Yu Gothic";
  font-weight: bold;
  margin-bottom: 10px;
}
.button2 {
  color: #000;
  background-color: rgb(94, 177, 207);
  border-bottom: 5px solid rgb(61, 143, 173);
  margin-left: 5px;
  margin-top: 16px;
  font-family: "Yu Gothic";
  font-weight: bold;
  height: 32px;
}

