.itemdiv {
  min-width: 165px;
  margin: 9px;
}

.image {
  cursor: pointer;
}

.images {
  width: 12vw;
  height: 12vw;
}

@media (max-width: 1170px) {
  .images {
    position: relative;
    width: 25vw;
    height: 25vw;
  }
  .itemdiv {
    min-width: 75px;
    width: 25vw;
    margin: 9px;
    font-size: 13px;
  }
}

.images {
  position: relative;
  width: 140px;
  height: 140px;
}

@media (max-width: 1170px) {
  .images {
    position: relative;
    width: 25vw;
    height: 25vw;
  }
  .itemdiv {
    min-width: 75px;
    width: 25vw;
    margin: 9px;
    font-size: 13px;
  }
}
