.mypage_main_content {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.main_title_wrapper {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_imfo_icon {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5em;
  margin-right: 30px;
  height: max-content;
}

.btn {
  cursor: pointer;
}

.btn::after {
  content: "全て見る";
}

.title_wrapper {
  display: flex;
  align-items: center;
}

.content_title {
  padding-right: 30px;
}

.table_list {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table_list th {
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgb(62, 57, 57);
}

.table_list td {
  height: 110px;
  padding: 5px;
  border-bottom: 0.5px solid rgb(178, 164, 164);
}

.td_justify {
  text-align: justify;
}

.td_center {
  text-align: center;
}

.th_size {
  width: 100px;
}

.th_name {
  width: 55%;
}

.th_ui_size {
  width: 100px;
}
