.image {
  text-align: center;
  margin-left: 0;
}

.outside {
  margin: 0 auto;
  width: 700px;
}

.back {
  background-color: aliceblue;
  height: 100%;
  width: 100%;
}

.formgroupuseditem {
  display: flex;
}

.title {
  color: rgb(37, 56, 116);
  font-weight: 500;
}

.midashi {
  color: rgb(39, 130, 169);
  font-weight: 500;
}

.kaitori {
  margin-top: 40px;
  margin-bottom: 0;
  color: rgb(39, 130, 169);
}

.form {
  margin-left: 80px;
}
.purchaseform {
  margin-left: 0;
}

.btn {
  margin-left: 400px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}
.kaitorititle {
  margin-left: 180px;
  color: rgb(37, 56, 116);
  font-weight: 500;
}
.link {
  margin: 50px;
  margin-top: 30px;
}

.h3tag {
  color: rgb(91, 90, 93);
}
