.itemSearch {
  display: flex;
}
.search {
  width: 200px;
  height: 30px;
  margin: auto;
}
.searchBtn {
  height: 30px;
  width: 50px;
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(78, 173, 208);
  border-bottom: 5px solid rgb(40, 119, 148);
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Yu Gothic";
  font-weight: bold;
  margin-bottom: 13px;
}
.searchBtn:hover {
  background-color: rgb(108, 191, 222);
  border-bottom: 5px solid rgb(83, 138, 158);
}
