.itemSearch {
  padding: 10px 0;
}
.search {
  width: 200px;
  height: 30px;
  padding: 10px;
  margin: auto;
}
.searchBtn {
  height: 30px;
  width: 50px;
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(78, 173, 208);
  border-bottom: 5px solid rgb(40, 119, 148);
  margin-left: 5px;
  margin-top: 10px;
  font-family: "Yu Gothic";
  font-weight: bold;
  margin-bottom: 3px;
}
.searchBtn:hover {
  background-color: rgb(108, 191, 222);
  border-bottom: 5px solid rgb(83, 138, 158);
}
.sidebarBox {
  background-color: #35325c;
  min-width: 240px;
  height: 700px;
  text-align: center;
  padding: 10px;
  color: white;
}
.title {
  border-bottom: 2px #fff solid;
  width: 200px;
  margin: 20px auto;
  color: #e6da9e;
}
.explain {
  font-size: 14px;
}
.hideCheck {
  display: none;
}
.hideCheck:checked + label {
  background-color: rgb(147, 115, 176);
  color: #d3d1ed;
  font-weight: bold;
}
.hideCheck:checked + label:hover {
  background-color: rgb(147, 115, 176);
  color: #35325c;
  font-weight: bold;
}

.hideCheck + label {
  padding: 10px;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.hideCheck + label:hover {
  background-color: #4a4681;
  color: rgb(179, 178, 194);
}
