.itemSearch{
    padding: 10px 0;
}
.search{
    width: 200px;
    height: 30px;
    padding: 10px;
}
.searchBtn{
    height: 30px;
    cursor: pointer;
}
.sidebarBox{
    background-color: #35325C;
    width: 300px;
    height: 550px;
    text-align: center;
    padding: 10px;
}
.title{
    border-bottom: 2px #fff solid;
    width: 200px;
    margin: 20px auto;
}
.explain{
    font-size: 14px;
}
.hideCheck{
    display: none;
}
.hideCheck:checked + label{
    background-color: rgb(196, 139, 247);
    color: #35325C;
    font-weight: bold;
}
.hideCheck:checked + label:hover{
    background-color:rgb(211, 164, 253);
    color: #35325C;
    font-weight: bold;
}

.hideCheck + label{
    padding: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 15px 0;
}
.hideCheck + label:hover{
    background-color:#4a4681;
}
