.sidebarBox {
  background-color: #35325c;
  min-width: 240px;
  height: 760px;
  text-align: center;
  padding: 10px;
  color: white;
}

.title {
  border-bottom: 2px #fff solid;
  width: 200px;
  margin: 20px auto;
  color: #e6da9e;
  margin-top: 10px;
}
.imagefile {
  text-align: center;
}

@media (max-width: 1170px) {
  .sidebarBox {
    min-width: 100px;
    height: 100%;
  }
  .search {
    width: 85px;
  }
  .title {
    font-size: 12px;
    width: 85px;
  }
  .searchBtn {
    height: 25px;
    width: 40;
    font-size: 12px;
  }
  .ptag {
    font-size: 12px;
  }
  .imagefile {
    width: 85px;
    height: 60px;
  }
}

.explain {
  font-size: 14px;
}
.hideCheck {
  display: none;
}
.hideCheck:checked + label {
  background-color: rgb(147, 115, 176);
  color: #d3d1ed;
  font-weight: bold;
}
.hideCheck:checked + label:hover {
  background-color: rgb(147, 115, 176);
  color: #35325c;
  font-weight: bold;
}

.hideCheck + label {
  padding: 10px;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.hideCheck + label:hover {
  background-color: #4a4681;
  color: rgb(179, 178, 194);
}
